:local .title {
  composes: title from '../../components/bases/titleBase.css';
}

:local .item {
  margin: 1rem 0;
}

:local .value {
  display: inline-block;
  float: right;
}

:local .discount {
  composes: value;
  composes: colorDanger from '../../components/bases/colors.css';
}
