:local .button {
  border-radius: 5px;
  cursor: pointer;
  padding: 1rem 0;
  margin: 1rem 0;
  text-align: center;
}

:local .default {
  composes: button;
  border: 2px solid #f77274;
  background-color: #f77274;
  color: #fff;
}

:local .default:hover {
  background-color: #eb6e70;
}

:local .cancel {
  composes: button;
  border: 2px solid #f4f2f0;
  background-color: #fff;
  color: #f77274;
}

:local .cancel:hover {
  background-color: #f8f8f8;
}
