:local .coupon {
  margin: 0.5rem 0;
}

:local .coupon label {
  cursor: pointer;
  display: block;
  width: 100%;
}

:local .title {
  composes: title from "../../components/bases/titleBase.css";
}

:local .option {
  display: inline-block;
  margin-left: 1rem;
  position: relative;
  width: 85%;
  top: -3px;
}

:local .value {
  composes: colorDanger from '../../components/bases/colors.css';
  display: inline-block;
  float: right;
}
