:local .loader {
  border: 5px solid #fff;
  border-top: 5px solid #f05b78;
  height: 40px;
  width: 40px;
  border-radius: 70px;
  animation: circular-loading 1s linear infinite;
  margin: 2rem auto;
}

@keyframes circular-loading {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
