:local .box {
  margin: 2rem 1rem 0 1rem;
}

:local .productImg {
  text-align: center;
}

:local .productImg img {
  max-width: 50%;
}

@media screen and (min-width: 599px) {
  :local .productImg img {
    max-width: 100%;
  }
}

:local .buttons {
  display: flex;
  justify-content: space-between;
  border-top: 2px solid #f4f2f0;
}
